.disabled-answer {
    color: #6c757d !important;
    pointer-events: none;
    background-color: #fff !important;
}

.correct-answer {
    color: #fff !important;
    background-color: #078080 !important;
    border-color: #078080 !important;
}

.incorrect-answer {
    color: #fff !important;
    background-color: #f45d48 !important;
    border-color: #f45d48 !important;
}

.list-group-item {
    border: none !important;
}

.list-group {
    border-radius: 0 !important;
}

.list-group-item-action:hover {
    background-color: #0d6efd !important;
    color: #fff !important;
}